button {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    background-color: #1a1a1a;
    cursor: pointer;
}
button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.link-button {
    color: #0062e1;
    list-style: none;
    margin: 0;
    font-weight: 500;
}

.primary-button {
    color: white;
    //border: 1px solid #0062e1;
    background-color: $primary-blue;
    width: 100px;
}

.outlined-button {
    color: #0062e1;
    border: 1px solid #0062e1;
    background-color: white;
    width: 100px;
}